<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Awkward Years: a digital history database</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<header>
    <h4>In the gap between the flip phone and the smartphone,
        <br>a small era in electronics evolution
        </h4>
    <h1>The Awkward Years</h1>
<h4>a digital history database</h4>
</h4>
</header>

<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Gallery</a></li>
        <li><a href="{{ url_for('about') }}">About the project</a></li>
        <li><a href="{{ url_for('references') }}">References</a></li>
    </ul>
</nav>


<div id="container">
<div id="image">
    <img src="{{ url_for('static', filename='images/' + image) }}" alt="Image of a 2000s phone">
</div>

<div id="info">
{% for phone in phones %}

<h2>{{ phone.make }} {{ phone.model }} ({{ phone.year }})</h2>

<ul>
    <li><h4>Shape:</h4> {{ phone.shape }}</li>
    <li><h4>Camera?</h4> {{ phone.camera }}</li>
    <li><h4>Video Camera?</h4> {{ phone.videocamera }}</li>
    <li><h4>Internet?</h4> {{ phone.internet }}</li>
    <li><h4>Music?</h4> {{ phone.music }}</li>
    <li><h4>Games?</h4> {{ phone.games }}</li>
    <li><h4>Keyboard style:</h4> {{ phone.keyboard }}</li>
</ul>
{% endfor %}
</div>
</div>

<footer>
    <h4>This project was made by Maija Chover. Take a look at the GitHub page <a href="" target="_blank">here</a>.    
    </h4>
</footer>
</body>
</html>